html, body {
    height: 100%;
}

body {
    background-image: url('fondonp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-weight: bold;  /* Asegura que todo el texto esté en negrita */
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
    color: #800080; /* Morado para todos los textos */
    margin-left: 20px; /* Márgenes solo a la izquierda */
    margin-right: 20px; /* Márgenes solo a la derecha */

}


#imagen-nosotros {
    width: 20%; /* Ajusta la imagen al 20% del ancho de su contenedor */
    height: auto; /* Mantiene las proporciones originales de la imagen */
    margin-top: 30px; /* Separa la imagen del texto o los botones */
    margin-bottom: 30px; /* Separación inferior de la imagen, separando así de los botones */
}

#imagen-ders {
    width: 20%; /* Ajusta la imagen al 20% del ancho de su contenedor */
    height: auto; /* Mantiene las proporciones originales de la imagen */
    margin-top: 30px; /* Separa la imagen del texto o los botones */
    margin-bottom: 30px; /* Separación inferior de la imagen, separando así de los botones */
}

.imagen-gatodespid {
    width: 20%;  /* Ajusta el tamaño de las imágenes según lo necesites */
    height: auto;  /* Mantiene las proporciones originales de las imágenes */
    display: inline-block;  /* Hace que las imágenes se alineen horizontalmente */
    margin: 40px;  /* Espacio entre las imágenes */
}

.imagen-cato, .imagen-emoticono {
    width: 18%;  /* Ajusta el tamaño de las imágenes según lo necesites */
    height: auto;  /* Mantiene las proporciones originales de las imágenes */
    display: inline-block;  /* Hace que las imágenes se alineen horizontalmente */
    margin: 30px;  /* Espacio entre las imágenes */
}

.imagen-corato, .imagen-piett {
    width: 20%;  /* Ajusta el tamaño de las imágenes según lo necesites */
    height: auto;  /* Mantiene las proporciones originales de las imágenes */
    display: inline-block;  /* Hace que las imágenes se alineen horizontalmente */
    margin: 20px;  /* Espacio entre las imágenes */
}


/* Estilo para los botones */
button {
    font-size: 18px;  /* Aumenta el tamaño de la fuente */
    padding: 20px 70px;  /* Aumenta el tamaño de los botones */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Asegura que los textos de los botones estén en negrita */
    margin: 5px 10px; /* Añadido margen de 20px a los lados para separar los botones */
}

/* Botón Sí (verde) */
#si {
    background-color: #4CAF50; /* Verde */
    color: white;
}

#si:hover {
    background-color: #45a049; /* Verde oscuro al pasar el mouse */
}

/* Botón No (rojo) */
#no {
    background-color: #f44336; /* Rojo */
    color: white;
}

#no:hover {
    background-color: #e53935; /* Rojo oscuro al pasar el mouse */
}
